/* Connecting Fonts */

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-MediumItalic.eot');
    src: local('../fonts/Google Sans Medium Italic'), local('GoogleSans-MediumItalic'),
        url('../fonts/GoogleSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoogleSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/GoogleSans-MediumItalic.woff') format('woff'),
        url('../fonts/GoogleSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Bold.eot');
    src: local('../fonts/Google Sans Bold'), local('GoogleSans-Bold'),
        url('../fonts/GoogleSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoogleSans-Bold.woff2') format('woff2'),
        url('../fonts/GoogleSans-Bold.woff') format('woff'),
        url('../fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Italic.eot');
    src: local('../fonts/Google Sans Italic'), local('GoogleSans-Italic'),
        url('../fonts/GoogleSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoogleSans-Italic.woff2') format('woff2'),
        url('../fonts/GoogleSans-Italic.woff') format('woff'),
        url('../fonts/GoogleSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Medium.eot');
    src: local('../fonts/Google Sans Medium'), local('GoogleSans-Medium'),
        url('../fonts/GoogleSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoogleSans-Medium.woff2') format('woff2'),
        url('../fonts/GoogleSans-Medium.woff') format('woff'),
        url('../fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Regular.eot');
    src: local('../fonts/Google Sans Regular'), local('GoogleSans-Regular'),
        url('../fonts/GoogleSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoogleSans-Regular.woff2') format('woff2'),
        url('../fonts/GoogleSans-Regular.woff') format('woff'),
        url('../fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-BoldItalic.eot');
    src: local('../fonts/Google Sans Bold Italic'), local('GoogleSans-BoldItalic'),
        url('../fonts/GoogleSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GoogleSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/GoogleSans-BoldItalic.woff') format('woff'),
        url('../fonts/GoogleSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
} 

/* Used fonts: 

font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif;
font-family: 'Google Sans', serif;

100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/


/* Global settings */



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #5E6282;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../svg/decore.svg);
    background-repeat: no-repeat;
    background-position: top right 14%;
}

h1 {
    font-family: 'Volkhov', serif;
    color: #181E4B;
    font-size: 84px;
    line-height: 89px;
    font-weight: bold;
}

h2 {
    font-family: 'Volkhov', serif;
    color: #14183E;
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-family:'Poppins', sans-serif;
    color: #5E6282;
    font-size: 18px;
    font-weight: bold;    
}

/* Hero - Nav */

nav {
    display: flex;
    color: #212832;
    margin: 0 10%;
    padding-top: 50px;
    position: relative;
}

nav img {
    min-width: 115px;
    height: 34px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212832;
    font-family: 'Google Sans', serif;
    font-weight: 500;
    text-decoration: none;
}

.nav_sign {
    width: 102px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #212832;
    text-align: center;
    vertical-align: middle;
}

.nav_vector::after {
    content: url(../svg/vector2.svg);
    padding-left: 5px;
}

.nav_navigation {
    width: 100%;
    padding-left: 20%;
    padding-top: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Hero - Content */

header {
    display: flex;
    padding: 0 10%;
    width: 100%;
    min-height: 764px;
    margin-bottom: 130px;
    background-image: url(../img/woman.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
   
}

.hero_content {
    max-width: 545px;
    width: 100%;
    padding-top: 130px;
}

.hero_content a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    max-width: 450px;
    border-radius: 10px;
    background-color: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    font-family: 'Google Sans', serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

header strong {
    display: block;
    color: #DF6951;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 22px;
}

header h1 {
    letter-spacing: -0.04em;
    margin-bottom: 32px;
}

header p {
    max-width: 477px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 32px;
}

.hero_logo img {
    text-align: right;
    width: 400px;
    height: 100%;
}

/* Services */

.services {
    min-height: 439px;
    padding: 0 10%;
    text-align: center;
    margin-bottom: 200px;
}

.services_offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
}

.services_offer div {
    display: flex;
    flex-direction: column;
}

.services_offer figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 154px;
    text-align: center;
}

.services_offer b {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1E1D4C;
    margin-bottom: 15px;
}

.services_offer p {
    width: 181px;
    height: 78px;
}

/* Destinations */

.destination {
    min-height: 617px;
    padding: 0 10%;
    text-align: center;
    margin-bottom: 186px;
}

.destination_select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
}

.destination_select img {
    border-radius: 24px 24px 0 0;
    object-fit: cover;
    object-position: 0 0;
    height: 327px;
    width: 314px;
    padding: 0;
}

 .destination_select .shaddow {
    border-radius: 24px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
} 

.destination_select_choose {
    height: 130px;
    width: 314px;
    padding: 27px 20px 42px; 
    text-align: left;
}

.destination_select b, span {
    font-size: 18px;
    font-weight: 500;
}

.destination_select_where {
    display: flex;
    justify-content: space-between;
}

.destination_select_choose p {
    padding-top: 20px;
    font-weight: 500;
}

.destination_select_choose p:before {
    content: url(../svg/vector.svg);
    padding: 0 10px;
}

/* Book a trip */

.book_a_treep {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 492px;
    padding: 0 10%;
    margin-bottom: 220px;
}

.book_a_treep_choose {
    width: 100%;
    max-width: 511px;
}

.book_a_treep_choose div {
    padding: 10px 0 40px 65px;
    width: 100%;
    max-width: 455px;
    position: relative;
}

.book_a_treep_choose_frst::before {
    position: absolute;
    content: url(../svg/but_square.svg);
    left: 0px;
    top: 20px;
}

.book_a_treep_choose_scnd::before {
    position: absolute;
    content: url(../svg/but_swim.svg);
    left: 0px;
    top: 20px;
}

.book_a_treep_choose_thrd::before {
    position: absolute;
    content: url(../svg/but_car.svg);
    left: 0px;
    top: 20px;
}

.book_a_treep_go {
    position: relative;
    background:  white;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
    max-width: 370px;
    height: 400px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 60px;
}

.book_a_treep_go * {
    z-index: 10;
}

.book_a_treep_go::after {
    position: absolute;
    content: url(../svg/ellipse.svg);
    filter: blur(100px);
    opacity: 0.5;
    border-radius: 50px;
    top: -59px;
    right: -44px;
    z-index: -1;
}

.book_a_treep_go img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.book_a_treep_go b {
    display: block;
    font-size: 18px;
    color: #080809;
    margin-bottom: 15px;
}

.book_a_treep_date {
    display: flex;
}

.book_a_treep_date {
    columns: #84829A;
    font-weight: 500;
}

.book_a_treep_nav {
    display: flex;
    justify-content: space-between;
    width: 138px;
}

.book_a_treep_nav a{
    position: relative;
    min-width: 36px;
    height: 36px;
    background-color:  #F5F5F5;
    border-radius: 50%;
}

.book_a_treep_nav a img{
    position: absolute;
    bottom: -9px;
    left: 11px;
}

.book_a_treep_people {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book_a_treep_people p::before {
    content: url(../svg/building.svg);
    padding-right: 10px;
}

/* Testimonial section */

.testimonial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
    min-height: 482px;
}

.testimonial > div:first-child {
    width: 100%;
    max-width: 495px;
}

.testimonial > div:first-child h3 {
    font-weight: 600;
}

.testimonial > div:first-child h2 {
    margin-bottom: 82px;
}

.testimonial > div:last-child {
    max-width: 500px;
    height: 245px;
    padding-left: 34px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    position: relative;
}

.testimonial_before::before {
    position: absolute;
    content: url(../img/man_face.png);
    top: -35px;
    left: -40px;
}

.testimonial > div:last-child p {
    line-height: 32px;
    padding-top: 28px;
    padding-right: 68px;
    margin-bottom: 34px;
}

.testimonial > div:last-child b, span {
    display: block;
}

.testimonial > div:last-child span {
    font-size: 15px;
}

/* Logos */

.logos {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: space-between ;
    align-items: center;
    margin-bottom: 136px;
}

.logos img {
    display: block;
}

/* Subscribe section */

.subscribe {
    position: relative;
    background-image: url(../svg/subscr_back.svg);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 580px;
    gap: 20px 20px;
    text-align: center;
}

.subscribe::before {
    position: absolute;
    content: url(../svg/sircle_left.svg);
    top: 45px;
    left: 50px;
    z-index: -1;
}

.subscribe::after {
    position: absolute;
    content: url(../svg/sircle_right.svg);
    right: 135px;
    top: 0;
}

.subscribe::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
    width: 70px;
    height: 70px;
    border-radius: 35px;
    content: url(../img/arrow.png);
    right: 135px;
    top: -15px;
    right: 120px;
}

.subscribe b {
    display: inline-block;
    max-width: 859px;
    min-height: 108px;
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    padding-top: 79px;
    margin-bottom: 74px;
}

.subscribe form input[type="email"] {
    display: inline-block;
    position: relative;
    background-color: white;
    background-image: url(../svg/mail.svg);
    background-repeat: no-repeat;
    background-position: 31px center;
    width: 421px;
    height: 68px;
    border-radius: 10px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: #39425D;
    font-size: 14;
    z-index: 21;
    padding-left: 65px;
    margin-right: 24px;
}

.subscribe button {
    width: 180px;
    height: 68px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}


/* Footer */

footer {
    position: relative;
    min-height: 343px;
    padding: 0 10%;
}

footer > p{
 text-align: center;
}

footer::after {
    position: absolute;
    content: url(../svg/ellipse2.svg);
    filter: blur(50px);
    opacity: 0.5;
    right: 0;
    bottom: 0;
}

footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 84px;
}

footer > p {
    color: #5E6282;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    margin: -20px;
    max-width: 290px;
    min-height: 120px;
}

footer > div > div:nth-child(1) b {
    font-size: 44px;
    font-weight: 500;
    color: #181E4B;
    margin-bottom: 20px;
}

footer > div > div:nth-child(1) p {
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

footer > div > div:nth-child(2) b,
footer > div > div:nth-child(3) b,
footer > div > div:nth-child(4) b {
    display: block;
    color: #080809;
    font-size: 21px;
    margin-bottom: 32px;
}

footer > div > div:nth-child(2) p,
footer > div > div:nth-child(3) p,
footer > div > div:nth-child(4) p {
    color: #5E6282;
    font-size: 18px;
}

footer > div > div:nth-child(5) {
    min-width: 214px;
    color: #5E6282;
    font-weight: 500;
}

.footer_social div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer_social p {
    font-size: 20px;
}

.footer_social  div:first-child {
    margin-bottom: 20px;
}

.footer_social div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_social div:first-child a:nth-child(2n-1) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.footer_social div:first-child a:nth-child(2) {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.footer_social div:last-child a {
    width: 107px;
    height: 35px;
    border-radius: 17.5px;
    background-color: #080809;
    margin: 5px;
}